<!-- admin side nav -->
<div class="admin-side bg-primary-100 d-none d-md-block">
  <div class="admin-side-container pe-10">
    <ul class="pt-17">
      <li><a class="fs-5 text-primary-700" href="#">商品管理</a></li>
      <li class="mt-13">
        <a class="fs-5 text-primary-700" href="#">小農資料</a>
      </li>
    </ul>
  </div>
</div>
