<div class="out-progressbar">
  <div class="position-relative m-4 ms-auto me-auto">
    <div class="progress" style="height: 2px">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <a
      type="button"
      class="position-absolute top-0 start-0 translate-middle d-flex flex-column align-items-center"
      style="width: 40px; height: 40px"
    >
      <span
        class="btn btn-sm btn-primary rounded"
        style="width: 40px; height: 40px"
        >1</span
      >
      <p style="width: 80px; height: 74px" class="font-probar">確認訂單</p>
    </a>
    <a
      type="button"
      class="position-absolute top-0 start-33 translate-middle d-flex flex-column align-items-center"
      style="width: 40px; height: 40px"
    >
      <span
        class="btn btn-sm btn-secondary rounded"
        style="width: 40px; height: 40px"
        >2</span
      >
      <p style="width: 120px; height: 74px" class="font-probar">填寫收件資料</p>
    </a>
    <a
      type="button"
      class="position-absolute top-0 start-66 translate-middle d-flex flex-column align-items-center"
      style="width: 40px; height: 40px"
    >
      <span
        class="btn btn-sm btn-secondary rounded"
        style="width: 40px; height: 40px"
        >3</span
      >
      <p style="width: 80px; height: 74px" class="font-probar">進行付款</p>
    </a>
    <a
      type="button"
      class="position-absolute top-0 start-100 translate-middle d-flex flex-column align-items-center"
      style="width: 40px; height: 40px"
    >
      <span
        class="btn btn-sm btn-secondary rounded"
        style="width: 40px; height: 40px"
        >4</span
      >
      <p style="width: 80px; height: 74px" class="font-probar">完成購買</p>
    </a>
    <!-- 
            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary"
                style="width: 2rem; height:2rem;">1<p class="font-probar">確認訂單</p></button> 
            <button type="button" class="position-absolute top-0 start-33 translate-middle btn btn-sm btn-secondary"
                style="width: 2rem; height:2rem;">2 <p class="font-probar">填寫收件資料</p></button>
            <button type="button" class="position-absolute top-0 start-66 translate-middle btn btn-sm btn-secondary"
                style="width: 2rem; height:2rem;">3<p class="font-probar">進行付款</p></button>
            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary"
                style="width: 2rem; height:2rem;">4<p class="font-probar">完成購買</p></button> -->
  </div>
  <!-- my end -->
</div>
