<div class="cart-out-progressbar d-none d-lg-block mt-22 pt-22 mb-31 mx-auto">
  <div class="position-relative">
    <div
      class="progress"
      role="progressbar"
      aria-label="Progress"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
      style="height: 1px"
    >
      <div class="progress-bar bg-primary-500" style="width: 100%"></div>
    </div>
    <a
      href="#"
      class="position-absolute top-0 start-0 translate-middle d-flex flex-column align-items-center"
    >
      <span class="span-full rounded-3">1</span>
      <p class="font-probar">確認訂單</p>
    </a>
    <a
      href="#"
      class="position-absolute top-0 start-33 translate-middle d-flex flex-column align-items-center"
    >
      <span class="span-outline rounded-3">2</span>
      <p class="font-probar">填寫收件資料</p>
    </a>
    <a
      href="#"
      class="position-absolute top-0 start-66 translate-middle d-flex flex-column align-items-center"
    >
      <span class="span-outline rounded-3">3</span>
      <p class="font-probar">進行付款</p>
    </a>
    <a
      href="#"
      class="position-absolute top-0 finish-position translate-middle-y d-flex flex-column align-items-center"
    >
      <span class="span-outline rounded-3">4</span>
      <p class="font-probar">完成購買</p>
    </a>
  </div>
</div>
