<!-- footer -->
<br />
<br />
<br />
<footer
  class="footer bg-primary-500 text-white pt-20 pb-26 px-4 px-lg-26 pb-md-29"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 mb-20 mb-md-0">
        <div class="d-flex mb-6 footer-contact">
          <div class="footer-brand me-md-15">
            <a href="index.html">
              <img
                class="footer-logo"
                src="../assets/images/logo/logo_default_white.png"
                alt="農農自然Logo"
              />
            </a>
          </div>
          <ul class="list-unstyled d-flex d-md-none pt-4 social-list">
            <li class="me-2">
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
          <ul class="list-unstyled pt-4 contact-info">
            <li class="mb-2 footer-contact-time">
              客服時間：週一至週五 09:00 - 18:00
            </li>
            <li class="mb-2">
              <span class="nong-d-none-sm">客服電話：</span
              ><a href="tel:0800-000-000">0800-000-000</a>
            </li>
            <li>
              <span class="nong-d-none-sm">客服信箱：</span
              ><a href="mailto: exmanple@mail.com">exmanple@mail.com</a>
            </li>
          </ul>
        </div>

        <div class="copyright">
          <p>本網站僅為學習使用 Copyright © 2024 農農自然保留一切權利</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 mb-20 mb-md-0">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="me-15 me-lg-20">
            <div class="mb-10 fs-5 fw-bolder"><a href="product.html">商品列表</a></div>
          </li>
          <li class="">
            <div class="mb-10 fs-5 fw-bolder"><a href="#">會員中心</a></div>
          </li>
        </ul>
      </div>

      <div class="text-center sm-copyright">
        <p>本網站僅為學習使用<br />Copyright © 2024 農農自然保留一切權利</p>
      </div>
    </div>
  </div>
</footer>

<!-- 浮動購物車按鈕 -->
<div class="page-cart">
  <a href="cart-confirm.html" class="page-cart-link position-relative m-3">
    <i class="bi bi-cart3"></i>
    <span class="position-absolute start-100 translate-middle badge rounded-circle bg-secondary-700 py-2 px-3 page-cart-num">2</span>
  </a>
</div>