<!-- header -->

<!-- 以下是 navbar -->
<div class="header pt-20 pb-6 py-md-6">
  <nav class="header-container">
    <!-- 漢堡開始 -->
    <a
      href="#"
      class="navbar-toggler d-md-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <img src="../assets/images/icon/menu.svg" alt="mobile-menu" />
    </a>
    <!-- 漢堡裡的內容-->
    <div
      class="offcanvas offcanvas-start bg-white admin-offcanvas"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div
        class="offcanvas-body p-0 pt-15 d-flex flex-column justify-content-between"
      >
        <div>
          <div
            href="#"
            class="fs-6 ps-11 py-1 fw-semibold text-primary-500 bg-primary-100"
          >
            所有地區
          </div>
          <ul class="ps-11 pe-6 mt-10 list-unstyled">
            <li>
              <a
                href="#"
                class="d-flex justify-content-between fs-6 text-gary-500"
                >北部<i class="bi bi-chevron-compact-right"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between fs-6 text-gary-500 mt-6"
                >中部<i class="bi bi-chevron-compact-right"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between fs-6 text-gary-500 mt-6"
                >南部<i class="bi bi-chevron-compact-right"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between fs-6 text-gary-500 mt-6"
                >東部<i class="bi bi-chevron-compact-right"></i
              ></a>
            </li>
          </ul>
        </div>
        <button
          type="submits"
          class="border-0 bg-tertiary-500 py-2 text-white fs-6 fw-semibold"
        >
          登入 / 註冊
        </button>
      </div>
    </div>
    <!-- 漢堡結束 -->
    <!-- logo -->
    <a class="m-0 p-0" href="index.html"
      ><picture>
        <source
          srcset="../assets/images/logo/logo_horizontal_white.png"
          media="(max-width: 767px)"
        />
        <img
          class="img-fluid header-logo"
          src="../assets/images/logo/logo_horizontal.png"
          alt="banner"
        /> </picture
    ></a>
    <a href="cart-confirm.html">
      <button
        type="button"
        class="d-block d-md-none btn btn-outline-white rounded-circle"
      >
        <i class="bi bi-cart3 fs-5"></i>
      </button>
    </a>

    <ul
      class="d-none d-md-block list-unstyled d-md-flex align-items-md-center justify-content-md-between"
    >
      <li class="fs-5 text-gary-500">
        <span class="fw-semibold me-2">皮皮</span>先生/小姐，您好
      </li>
      <li class="ms-10 position-relative dropdown-center">
        <a
          class="btn btn-primary-500 rounded-circle"
          href="admin-panel.html"
          role="button"
        >
          <!-- <a
          class="btn btn-primary-500 rounded-circle dropdown-toggle"
          href="admin-panel.html"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        > -->
          <i class="bi bi-person fs-5"></i>
        </a>
        <!-- dropdown -->
        <div class="header-dropdown-menu dropdown-menu mt-14">
          <p class="fs-6 fw-semibold text-gary-500 p-0 mb-10">會員中心</p>
          <ul class="p-0">
            <li>
              <a class="fs-6" href="#">個人資料</a>
            </li>
            <li>
              <a class="fs-6 mt-1" href="#">歷史訂單</a>
            </li>
            <li>
              <a class="fs-6 mt-1" href="#">折扣碼清單</a>
            </li>
            <li>
              <a class="fs-6 mt-1" href="#">登出</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="ms-10">
        <a href="cart-confirm.html">
          <button
            type="button"
            class="btn btn-outline-primary-500 rounded-circle"
          >
            <i class="bi bi-cart3 fs-5"></i>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</div>
