<div class="bg-primary-500 fixed-top mt-30 pt-6 d-block d-md-none">
  <div class="header-input-box container bg-white p-4 mb-2">
    <span class="m-4"
      ><img src="../assets/images/icon/search.svg" alt="mobile-search"
    /></span>
    <input
      type="text"
      class="header-input text-gary-500 fs-6 border-0"
      placeholder="請輸入關鍵字..."
    />
  </div>
  <ul class="list-unstyled container d-flex justify-content-around">
    <li><a href="#" class="fs-6 text-white">#捐贈</a></li>
    <li><a href="#" class="fs-6 text-white">#有機</a></li>
    <li><a href="#" class="fs-6 text-white">#草莓季</a></li>
    <li><a href="#" class="fs-6 text-white">#夏季消暑</a></li>
  </ul>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
