ol,
ul {
    list-style: none;
}

.out-progressbar {
    // display: flex;
    margin-top: 64px;
    // margin-left: -586px;
    // margin-right: -586px;
}

.font-probar {
    color: $primary-500;
    letter-spacing: 5%;
    font-weight: $font-weight-semibold;
    font-size: 18px;
    margin-top: 20px;
    // text-align: left;
}

.confirmCart {
    margin-top: 100px; //64px;
    max-height: 1119px;
    max-width: 857px;
    // gap: 40px;
}

.fontSizeMed {
    font-size: $font-weight-medium ; //  18px;
    //color: $secondary-700;
}

.color-note {
    color: $secondary-700;
}

.mT-8 {
    margin-top: 8px;
}

.fontBlack {
    color: black;
}

.item-padding {
    margin-left: -191px;
    margin-right: -191px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.itemBg100 {
    background-color: $primary-100;
}

.mr-24 {
    margin-right: 24px;
}

.iwidth416 {
    width: 416px;
    text-align: center;
}

.iwidth196 {
    width: 196px;
    text-align: center;
    //test
}