//Product Header
.product{
    &-title{
        p{
            color: $gary-500;
        }
    }

    &-price{
        color: $secondary-700;
        background-color: $secondary-100;
        padding: 8px 24px;
    }

    &-detail{
        &-topic{
            color: $gary-500;
            li{
                //padding: 8px 0;
                text-align-last:justify;
            }
        }
        &-value{
            .btn_quantity{
                border: 1px solid $gary-500;
                border-radius: var(--bs-border-radius);
                input{
                    background-color: var(--bs-body-bg);
                    border: none;
                    text-align: center;
                }
                input:focus-visible {
                    outline: none;
                }
            }
        }
    }

    &-buyandstorage{        
        .btn-storage,.btn-buy{
            width: 50%;
            button{
                padding: 16px 0;
                width: 100%;
            }
        }
        
        .storage-method{
            h6{
                color: $primary-300;
            }
            p{
                color: $gary-500;
            }
            background-color: #EDE4CB80;
            padding: 16px 24px;
        }
    }
}
.product-img {
    max-width: 100%;
    border-radius: 8px;
}

//Product Introduce
.introduce{
    &-content{
        max-width: 100%;
        .describe{
            color: #1F1E1D;
            max-width: 64%;
        }
        .intro-1{
            img{
                max-width: 100%;
                border-radius: 8px 0 0 8px;
            }
            .bg-describe{
                background-color: $primary-100;
                border-radius: 0 8px 8px 0;
            }
        }
        .intro-2{
            img{
                max-width: 100%;
                border-radius: 0 8px 8px 0;
            }
            .bg-describe{
                background-color: $secondary-100;
                border-radius: 8px 0 0 8px;
            }
        }
        .intro-3{
            .bg{
                height: 389px;
            }
            img{
                width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 8px;
            }
        }
        .intro-4{
            .bg-describe{
                background-color: $primary-100;
                border-radius: 8px;
            }
            .describe{
                color: #1F1E1D;
                text-align: center;
                max-width: 100%;
                margin: 56px 0;
            }
        }
    }
}

.donate{
    .bg{
        background: url('../assets/images/product/donation_bg_desktop.png') no-repeat center;
        border-radius: 80px;
        padding: 0px calc(100%/12);
        padding-top: 80px;
        padding-bottom: 240px;
    }
    &-slogan{        
        .logo{
            font-weight: 500;
            border: 1px solid white;
            border-radius: 50px;
        }
        .title{
            font-size: 64px;
            line-height: 92.67px;
        }
        .content{
            line-height: 34.75px;
        }
    }
    .icon-text{
        width: 100px;
        height: 100px;
        text-align: center;
        border: 1px solid white;
    }
}

.farm{
    .container{
        position: relative;
    }
    .farm-owner{
        height: 322px;
        width: 230px;
        position: absolute;
        top: 359px;
        bottom: 265px;
        right: calc(100%/12);
        left: calc(100%/12*9);

        img{
            max-width: 100%;
            border: 2px solid white;
        }
    }
    .bg-farm{
        width: 100%;
        border-radius: 80px 80px 0 0;
    }

    .describe{
        background-color: white;
        border-radius: 0 0 80px 80px;
        padding-left: calc(100%/12);
        padding-right: calc(100%/12*4);
    }
}

//Comment
.comment{
    background-color: $primary-100;
    .btn-comment{
        .btn{
            width: 100%;
        }
        &-write{
            width: calc(100%/12*3);
            .btn-primary{
                color: $primary-500;
                background-color: $primary-100;
            }
            .btn{
                border-color: $primary-500;
            }
            .btn:hover {
                color: $primary-100;
                background-color: $primary-500;
            }
        }
        &-viewall{
            width: calc(100%/12*3);
            .btn-primary{
                color: $primary-100;
                background-color: $primary-500;
            }
            .btn{
                border-color: $primary-500;
            }
            .btn:hover {
                color: $primary-500;
                background-color: $primary-100;
            }
        }
    }
}

//Shopping Instructions
.instructions{
    margin-bottom: 120px;
    &-list{
        margin: 0px calc(100%/12*2);
        list-style-type: decimal;
        list-style-position: inside;
        p{
            font-weight: 400;
        }
        .division{
            border-bottom: 1px solid $gary-300;
        }
    }
}

// Button
.btn-group{
    width: 100%;
    .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
        color: var(--bs-btn-active-color);
        background-color: $primary-300;
        border-color: $primary-300;
    }
    
    .btn-check + .btn:hover {
        color: var(--bs-btn-active-color);
        background-color:  $primary-300;
        border-color:  $primary-300;
    }
    
    .btn-outline-primary {
        color: $gary-500;
        border: 1px solid $gary-500;
    }
}

.btn-secondary700{
    color: $secondary-100;
    background: $secondary-700;
    border: 1px solid $secondary-700;
}

.btn-secondary700:hover {
    color: $secondary-100;
    background: $secondary-300;
    border: 1px solid $secondary-300;
}

.btn-secondary100{
    color: $secondary-700;
    background: $secondary-100;
    border: 1px solid $secondary-700;
}

.btn-secondary100:hover {
    color: $secondary-100;
    background: $secondary-700;
    border: 1px solid $secondary-700;
}