<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>農農自然 - 首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="idx-banner">
      <div class="">
        <div class="idx-banner-item"> <!--swiper-slide -->
          <picture>
            <source media="(min-width: 375px)" srcset="../assets/images/index/banner/banner-01.png">
            <img src="../assets/images/index/banner/banner-mobile-01.png">
          </picture>
        </div>
      </div>
    </div>

    <div class="idx-product">
      <div class="container">
        <div class="idx-product-list">
          <div class="idx-product-cat d-flex justify-content-between mb-md-13 mb-6">
            <div class="idx-cat-name d-flex">
              <img src="../assets/images/icon/rice_ears.png" class="me-1">
              <h2 class="text-primary-500 fs-4">最新上架</h2>
            </div>
            <a href="#" class="read-more">看更多最新產品<i class="bi bi-arrow-right ms-2"></i></a>
          </div>

          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/306/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/306/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/306/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/306/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/306/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next swiper-btn-white"></div>
            <div class="swiper-button-prev swiper-btn-white"></div>
          </div>

        </div>
        <div class="idx-heart-list bg-secondary-100">
          <div class="idx-product-cat d-flex justify-content-between mb-md-13 mb-6">
            <div class="idx-cat-name d-flex">
              <img src="../assets/images/icon/rice_ears.png" class="me-1">
              <h2 class="text-primary-500 fs-4">最新上架</h2>
            </div>
          </div>

          <div class="swiper idx-heart-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/416x208/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-secondary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/416x208/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-secondary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item bg-secondary-100">
                <img src="https://fakeimg.pl/416x208/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-secondary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/416x208/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-secondary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide idx-goods-item">
                <img src="https://fakeimg.pl/416x208/?text=fruit" class="card-img-top goods-pic" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-1">花蓮鶴岡老欉文旦</h5>
                  <span class="text-gary-500 mb-2">10斤/箱</span>

                  <div class="d-flex flex-column flex-md-row justify-content-md-between ">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500 fs-6"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-secondary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next swiper-btn-white"></div>
            <div class="swiper-button-prev swiper-btn-white"></div>
          </div>

        </div>
      </div>
    </div>


    <div class="idx-brand">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="rounded-circle bg-secondary-700 idx-brand-item">
              <div class="">
                <i class="bi bi-facebook fs-2"></i>
                <div class="idx-brand-title">安心</div>
              </div>
              <div class="idx-brand-content">
                <p class="mb-1">嚴選各地當令蔬果</p>
                <p>經 SGS 檢驗合格</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="rounded-circle bg-secondary-700 idx-brand-item">
              <div class="idx-brand-title">
                <i class="bi bi-facebook fs-2"></i>
                <div class="fs-2 mb-2">安心</div>
              </div>
              <div class="idx-brand-content">
                <p class="mb-1">嚴選各地當令蔬果</p>
                <p>經 SGS 檢驗合格</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="rounded-circle bg-secondary-700 idx-brand-item">
              <div class="idx-brand-title">
                <i class="bi bi-facebook fs-2"></i>
                <div class="fs-2 mb-2">安心</div>
              </div>
              <div class="idx-brand-content">
                <p class="mb-1">嚴選各地當令蔬果</p>
                <p>經 SGS 檢驗合格</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="rounded-circle bg-secondary-700 idx-brand-item">
              <div class="idx-brand-title">
                <i class="bi bi-facebook fs-2"></i>
                <div class="fs-2 mb-2">安心</div>
              </div>
              <div class="idx-brand-content">
                <p class="mb-1">嚴選各地當令蔬果</p>
                <p>經 SGS 檢驗合格</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 24,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 24,
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 24,
          }
        }
      });
      
      var swiper = new Swiper(".idx-heart-swiper", {
        slidesPerView: 2,
        spaceBetween: 6,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 6,
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 12,
          }
        }
      });
    </script>
  </body>
</html>
