<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品詳情</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!--商品資訊-->
    <div class="container">
      <div class="row">
        <div class="d-flex gap-10">
          <div style="max-width: 40%;">
            <img class="product-img" src="../assets/images/product/product_cover.png" alt="產品主照">
          </div>
          <div class="d-flex flex-column product gap-10">
            <div class="product-title">
              <h1 class="fs-2 fw-bolder">山城自然芭樂</h1>
              <p class="fs-5">中投果園芭樂，果肉脆甜、清新爽口，適合生食或製作芭樂汁</p>
            </div>
            <div class="product-price">
              <h2 class="fs-2 fw-bolder mb-0">NT. 500</h2>
            </div>
            <div class="d-flex product-detail gap-10">
              <div class="product-detail-topic">
                <ul class="list-unstyled d-flex flex-column gap-10">
                  <li class="py-2">產地</li>
                  <li class="py-2">運送方式</li>
                  <li class="py-2">產品規格</li>
                  <li class="py-2">購買數量</li>
                </ul>
              </div>
              <div class="product-detail-value">
                <ul class="list-unstyled d-flex flex-column gap-10">
                  <li class="py-2">彰化</li>
                  <li class="py-2">冷藏</li>
                  <li class="py-2">2 斤/箱</li>
                  <li>
                    <div class="btn_quantity">
                      <button type="button" class="btn">
                        <img src="../assets/images/icon/decrease.svg" alt=""></button>
                      <input type="text" name="quantity" value="1">
                      <button type="button" class="btn">
                        <img src="../assets/images/icon/increase.svg" alt=""></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-buyandstorage d-flex flex-column gap-10">
              <div class="button-list d-flex gap-10">
                <div class="btn-storage">
                  <button type="button" class="btn btn-secondary100 fs-5">
                    <img src="../assets/images/icon/cart.svg" alt="">
                    查詢庫存</button>
                </div> 
                <div class="btn-buy">
                  <button type="button" class="btn btn-secondary700 fs-5">
                    <img src="../assets/images/icon/cart.svg" alt="">
                    加入購物車</button>
                </div>
              </div>
              <div class="storage-method">
                <h6 >保存方式</h6>
                <p>為保留芭樂的鮮美口感，建議將其存放於乾燥陰涼處，避免陽光直射。如需延長保存時間，可放入冰箱冷藏。建議在購買後一週內食用為佳</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 跳轉標籤 -->
    <div class="container my-26">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary btn-primary300" for="btnradio1">商品介紹</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary btn-primary300" for="btnradio2">商品評論</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary btn-primary300" for="btnradio3">購物須知</label>
      </div>
    </div>

    <!-- 商品介紹 -->
    <section class="container introduce">
      <div class="title mb-17 d-flex justify-content-center">
        <h2 class="fs-2 text-secondary-700 fw-bolder mb-0">商品介紹</h2>
      </div>
      <div class="introduce-content">
        <ul class="list-unstyled d-flex flex-column gap-10">
          <li class="row mx-0 d-flex intro-1">
            <div class="col-sm px-0">
              <img src="../assets/images/product/product_Intro_1.jpg" alt="商品圖1">
            </div>
            <div class="col-sm px-0 d-flex justify-content-center align-items-center bg-describe">
              <div class="d-flex flex-column describe gap-6">
                <div class="fs-2 text-primary-500 fw-bolder mb-0">大自然的餽贈</div>
                <div class="fs-5">來自臺灣中部山城的自然芭樂，蘊藏著大自然的純粹恩賜。以最原始、最自然的方式栽培這些芭樂，沒有使用任何化學肥料或農藥，讓每一顆芭樂都能自然成熟保持其健康的營養價值和原始風味。</div>
              </div>
            </div>
          </li>
          <li class="row mx-0 d-flex intro-2">
            <div class="col-sm px-0 d-flex justify-content-center align-items-center bg-describe">
              <div class="d-flex flex-column describe gap-6">
                <div class="fs-2 text-secondary-700 fw-bolder mb-0">營養天然低熱量</div>
                <div class="fs-5">這些芭樂在豐富的陽光和肥沃的土壤滋養下,果實鮮嫩多汁，富含豐富的維他命 C 和纖維素。咬上一口，即可感受到濃郁的芳香和清新的酸甜口感，是夏日消暑的最佳選擇，也適合日常健康飲食。</div>
              </div>
            </div>
            <div class="col-sm px-0">
              <img src="../assets/images/product/product_Intro_2.jpg" alt="商品圖2">
            </div>
          </li>
          <li class="intro-3">
            <div class="bg">
              <img src="../assets/images/product/product_Intro_3.jpg" alt="商品圖3">
            </div>
          </li>
          <li class="intro-4">
            <div class="d-flex justify-content-center align-items-center bg-describe">
              <div class="d-flex flex-column gap-6 describe">
                <div class="fs-2 text-primary-500 fw-bolder mb-0">堅持有機高品質</div>
                <div class="fs-5">自然芭樂來自於專注於有機農業的小農，這些小農們擁有對土地的深厚理解和無盡的熱情。<br>
                  他們選擇最適合芭樂生長的品種，經過精心管理和照顧，讓每一顆芭樂都能達到最佳的成熟狀態。</div>
                <div class="fs-5">每一顆芭樂都經過仔細挑選，確保只有最優質的果實能夠到達您的手中。<br>
                  我們承諾提供的新鮮芭樂，不僅保留了大自然的純粹風味，也展現小農們對農業的專業和對品質的執著。</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
