<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>產品列表</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="prodout-list mt-16 mt-md-36">
        <div class="bread-crumbs">
          <div class="container">
            <div class="dropdown">
              <button class="btn btn-primary-100 text-primary-500 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                葉菜類
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item active" href="product_list.html">葉菜類</a></li>
                <li><a class="dropdown-item" href="product_list.html">瓜果根莖類</a></li>
                <li><a class="dropdown-item" href="product_list.html">菌菇類</a></li>
                <li><a class="dropdown-item" href="product_list.html">豆類</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="product-items">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">多汁</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                    <span class="text-gary-500 mb-2">10斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/product/product_cover.png" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">山城自然芭樂</h3></a>
                    <span class="text-gary-500 mb-2">2斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.500</span>
                      <span class="old-price text-gary-500"><del>NT.535</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-02.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">初秋高麗菜</h3></a>
                    <span class="text-gary-500 mb-2">900-1100g/顆</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.99</span>
                      <span class="old-price text-gary-500"><del>NT.110</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-03.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">冷藏</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">拉拉山水蜜桃</h3></a>
                    <span class="text-gary-500 mb-2">5粒/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.1100</span>
                      <span class="old-price text-gary-500"><del>NT.1500</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-04.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">高雄旗山香蕉</h3></a>
                    <span class="text-gary-500 mb-2">400-500g/串</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.530</span>
                      <span class="old-price text-gary-500"><del>NT.600</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">多汁</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                    <span class="text-gary-500 mb-2">10斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/product/product_cover.png" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">山城自然芭樂</h3></a>
                    <span class="text-gary-500 mb-2">2斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.500</span>
                      <span class="old-price text-gary-500"><del>NT.535</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-02.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">初秋高麗菜</h3></a>
                    <span class="text-gary-500 mb-2">900-1100g/顆</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.99</span>
                      <span class="old-price text-gary-500"><del>NT.110</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-03.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">冷藏</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">拉拉山水蜜桃</h3></a>
                    <span class="text-gary-500 mb-2">5粒/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.1100</span>
                      <span class="old-price text-gary-500"><del>NT.1500</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-04.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">高雄旗山香蕉</h3></a>
                    <span class="text-gary-500 mb-2">400-500g/串</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.530</span>
                      <span class="old-price text-gary-500"><del>NT.600</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">多汁</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                    <span class="text-gary-500 mb-2">10斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.511</span>
                      <span class="old-price text-gary-500"><del>NT.511</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/product/product_cover.png" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">山城自然芭樂</h3></a>
                    <span class="text-gary-500 mb-2">2斤/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.500</span>
                      <span class="old-price text-gary-500"><del>NT.535</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-02.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">初秋高麗菜</h3></a>
                    <span class="text-gary-500 mb-2">900-1100g/顆</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.99</span>
                      <span class="old-price text-gary-500"><del>NT.110</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-03.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">冷藏</span>
                      <span class="product-tag">有機</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">拉拉山水蜜桃</h3></a>
                    <span class="text-gary-500 mb-2">5粒/箱</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.1100</span>
                      <span class="old-price text-gary-500"><del>NT.1500</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-04.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">高雄旗山香蕉</h3></a>
                    <span class="text-gary-500 mb-2">400-500g/串</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.530</span>
                      <span class="old-price text-gary-500"><del>NT.600</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                <div class="goods-item">
                  <div class="img-box">
                    <a href="product.html">
                      <img src="../assets/images/index/product-02.jpg" class="card-img-top goods-pic" alt="...">
                    </a>
                    <div class="tag-cat-list">
                      <span class="product-cat-tag">最新</span>
                    </div>
                    <div class="tag-list">
                      <span class="product-tag">常溫</span>
                    </div>
                  </div>
    
                  <div class="card-body">
                    <a href="product.html"><h3 class="card-title mb-1">初秋高麗菜</h3></a>
                    <span class="text-gary-500 mb-2">900-1100g/顆</span>
  
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="goods-price mb-2 mb-md-0">
                      <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4">NT.99</span>
                      <span class="old-price text-gary-500"><del>NT.110</del></span>
                    </div>
                    <a href="#" class="buy-btn buy-btn-primary"><i class="bi bi-cart3"></i><span class="ms-2 d-md-none">加入購物車</span></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- 頁尾頁碼按鈕 -->
            <div class="mt-20 d-flex justify-content-center mb-30">
              <ul class="p-0 d-flex justify-content-center align-items-center list-unstyled">
                <li class="me-3">
                  <button class="admin-pagination-btn" type="submit">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>
                <li class="mx-3">
                  <button class="admin-pagination-btn" type="submit">1</button>
                  <button class="admin-pagination-btn" type="submit">2</button>
                  <button class="admin-pagination-btn" type="submit">3</button>
                </li>
                <li class="ms-3">
                  <button class="admin-pagination-btn" type="submit">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </div>

          </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script></script>
  </body>
</html>
