<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>產品列表</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="prodout-list mt-16 mt-md-36">
        <div class="bread-crumbs">
            <div class="container">
                <p class="text-gary-500">全部產品 / 葉菜類</p>
            </div>
        </div>

        <div class="product-items">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-6">
                        <div class="goods-item">
                            <div class="img-box">
                              <a href="product.html">
                                  <img src="../assets/images/index/product-01.jpg" class="card-img-top goods-pic" alt="...">
                              </a>
                              <div class="tag-list">
                                <span class="product-tag">多汁</span>
                                <span class="product-tag">有機</span>
                              </div>
                            </div>
            
                            <div class="card-body">
                              <a href="product.html"><h3 class="card-title mb-1">花蓮鶴岡老欉文旦</h3></a>
                              <span class="text-gary-500 mb-2">10斤/箱</span>
            
                              <div
                                class="d-flex flex-column flex-md-row justify-content-md-between"
                              >
                                <div class="goods-price mb-2 mb-md-0">
                                  <span class="text-primary-500 fw-bold fs-6 fs-md-4 me-4"
                                    >NT.511</span
                                  >
                                  <span class="old-price text-gary-500"
                                    ><del>NT.511</del></span
                                  >
                                </div>
                                <a href="#" class="buy-btn buy-btn-primary"
                                  ><i class="bi bi-cart3"></i
                                  ><span class="ms-2 d-md-none">加入購物車</span></a
                                >
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script></script>
  </body>
</html>
